@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .bannerIcon {
    @apply w-16 h-16 bg-[#89dee6]  text-bodyColor text-xl inline-flex items-center justify-center rounded-md shadow-shadowOne hover:bg-opacity-40 hover:-translate-y-1 transition-all hover:text-designColor cursor-pointer duration-300;
  }

  .resumeLi {
    @apply w-full bg-bodyColor text-[#89dee6]  text-xl h-20
    flex justify-center  items-center border-[1px] rounded-none  border-[#89dee6];
  }

  .bgOpacity {
    @apply bg-[#0e1f1e];
  }
}
.active {
  color: #ff014f;
  text-decoration-line: underline;
  font-size: large;
  transition: 1s linear ease-in-out;
}